{% load static %}

{% if form.non_field_errors %}
    <div style="text-align: center; margin-bottom: 20px;">
        <div>
            <div>
                <div role="alert">
                    <a>{{ form.non_field_errors }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div style="text-align: center; margin-bottom: 20px;">
    <div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div id="notification" class="text-p" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                    <div id="notification" class="text-p" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div id="jq-notification" class="text-p" style="display: none;" role="alert">
            </div>
            {% endif %}
        </div>
    </div>
</div>
