{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content_users">
    <div class="form">
        <div style="text-align: center;">
            <a class="text-content-h4" style="color: var(--green-color);">Авторизация</a>
        </div>
            <form action="{% url "user:login" %}" method="post">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value={{request.GET.next}}>
                {% endif %}
                    <div>
                        <label for="id_username" class="form-label">Имя пользователя</label>
                    </div>
                        <div>
                        <input type="text" class="form-control" 
                        value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                        name="username" id="id_username"
                        placeholder="Введите ваше имя пользователя"
                        required>
                        </div>
                    <div>
                        <label for="id_password" class="form-label">Пароль</label>
                    <div/>
                        <div>
                        <input type="password" class="form-control" name="password" id="id_password"
                        placeholder="Введите ваш пароль" required>
                        </div>
                    </div>
                    <div style="margin: 22px; text-align: center;">
                        <button type="submit" class="button">Войти</button>
                    </div>
            </form>
            <div style="color: var(--green-color); text-align: center;">
                <a class="form-label" style="text-decoration: underline;"href="{% url "users:password-reset" %}">Забыли пароль?</a> | <a class="form-label" style="text-decoration: underline;" href="{% url "users:registration_company" %}">Создать аккаунт</a>
            </div>
        </div>
</div>
{% endblock content %}