{% extends "base.html" %}
{% load static %}

{%block content%}
<div class="content_users">
	<div class="form">
		<div style="text-align: center;">
			<a class="text-content-h4" style="color: var(--green-color);">Сброс пароля</a>
		</div>
		<form method="post" class="card">
			{% csrf_token %}
			{% for field in form %}
					<div>
						<label for="id_username" class="form-label">{{ field.label_tag }}</label>
					</div>
					{{ field }}
					{% if field.errors %}
						<small>{{ field.errors|striptags  }}</small> 
					{% endif %}
			{% endfor %}
			<div style="margin: 22px; text-align: center;">
				<button type="submit" class="button">Отправить</button>
			</div>
		</form>
	</div>
</div>
{%endblock content%}