{% load static %}
{% load graduates_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'deps/css/style.css' %}" />
    <!-- Favicons for different platforms -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'deps/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'deps/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'deps/favicon/site.webmanifest' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__title">
          <div class="block" >
            <img src="{% static 'deps/images/logo.svg' %}" alt="logo" class="logo" href="{% url 'main:index' %}"/>
            <a class="a text-header-h4" href="{% url 'main:index' %}" >Выпускники <br> Горного Университета</a>
          </div>
          <div class="block">
          <a class="a text-header-h4" href="{% url 'main:index' %}">Главная страница</a>
          {% if user.is_authenticated %}
            <a class="a text-header-h4" href="{% url 'graduates:index' %}">Выпускники</a>
            <a class="a text-header-h4" href="{% url 'graduates:companies_list' %}">Места работы</a>
          {% else %}
            <a class="a text-header-h4" href="{% url 'users:login' %}">Выпускники</a>
            <a class="a text-header-h4" href="{% url 'users:login' %}">Места работы</a>
          {% endif %}
          </div>
          {% if not user.is_authenticated %}
          <div class="block">
            <a class="a text-header-h5" href="{% url 'users:registration_company' %}">Регистрация</a>
            <a class="button" href="{% url 'users:login' %}">Вход</a>
          </div>
          {% else %}
          <div class="block">
            <div class="dropdown">
              <button class="dropbtn" >Мой профиль</button>
              <div class="dropdown-content">
                  {% if user.is_graduate %}
                  
                    <a class="a text-header-h5" href="{% url 'users:profile_graduate' %}">Личный кабинет</a>
                    <a class="a text-header-h5" href="{% url 'polls:index' %}">Пройти опрос</a>
                  {% endif %}
                  {% if user.is_company %}
                    <a class="a text-header-h5" href="{% url 'users:profile_company' %}">Личный кабинет</a>
                    <a class="a text-header-h5" href="{% url 'polls_company:index' %}">Пройти опрос</a>
                  {% endif %}
                  {% if user.is_teacher %}
                    <a class="a text-header-h5" href="{% url 'users:profile_teacher' %}">Личный кабинет</a>
                  {% endif %}
                  {% if user.is_admin or user.is_staff %}
                    <a class="a text-header-h5" href="{% url 'admin:index' %}">Админ панель</a>
                    <a class="a text-header-h5" href="{% url 'users:registration_graduate' %}">Создать аккаунт выпускника</a>
                    <a class="a text-header-h5" href="{% url 'users:registration_teacher' %}">Создать аккаунт преподавателя</a>
                  {% endif %}
              </div>
            </div>
            <a class="button" href="{% url 'users:logout' %}">Выход</a>
          </div>
          {% endif %}
        </div>
      </div>
    </header>
    <section>
      <div class="">
        <div>
          <div>
            <!-- Контент на странице -->
            {% include 'includes/notifications.html' %}
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </section>
    {% block footer %}
    {% endblock %}
    <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'deps/js/jquery-events.js' %}"></script>
    <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
    {% comment %} <script src="{% static 'deps/js/scripts.js' %}"></script>
    <script src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js"></script> {% endcomment %}
  </body>
</html>